<h1>Enter the words you want searched!!!</h1>
<h3>No punctuation Please!!</h3>

<form action='/result'>
  <div class="form-group">
    <label for="sentence_to_search">Enter your sentence!</label>
    <input id="sentence_to_search" name="sentence_to_search" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="word_to_find">Which word do you want to find?</label>
    <input id="word_to_find" name="word_to_find" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Find My Word!</button>
</form>